html {
  height: 100%;
  width: 100%;

  /* Colors, reference with var(--...) */

  /* Figma */
  --cream: #FAECE1;
  --green1: #CCDDDA;
  --green2: #7CAA9E;
  
  /* branded */
  --TPP-orange: #FF8221;
  --TPP-brown: #773400;
  --TPP-green: #016855;
  --TPP-cream: #f2e5d9;
  /*--TPP-header: Avenir Light;
  --TPP-body: Questrial; */
  
  /* misc */
  --text-black: #000000;
  --text-white: #ffffff;
  --menu: #b59e91;

  
}

body {
  background-color: var(--cream);
}

label {
  color: var(--text-black);
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  margin-left: 40px;
}

button {
  color: var(--text-white);
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-left: 40px;
  background-color: var(--menu);
  border-radius: 10px;
  border: none;
  padding: 10px;
}

li {
  list-style-type: none;
}

input {
  color: var(--text-black);
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

form {
  margin-top: 60px;
}

input[type=file] {
  display: none
}

nav {
  background-color: #FAECE1;
  height: 12%;
  text-align: center
}

nav a {
  color: black!important; 
  font-size: 10pt;
}

a {
  color: black!important; 
}

nav row {
  width: auto;
  margin: auto;
}

hide-before-res {
  background-color: red;
  display: none;
  visibility: hidden;
}

#upload-btn {
  height: 100px;
  width: 230px;
  margin-top: 60px;
  background-color: #CCDDDA; 
  border-radius: 9px;
  font-size: 15pt;
}

#picture-div {
  height: 30%; 
  border-radius: 25px; 
  text-align: center; 
  width: 70%;
  margin-bottom: -215px;
}

#image-bg-div {
  margin-bottom: -200px;
  margin-top: 5%;
  background-color: #faece1;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
}

#img {
  border-radius: 25px;
  border: 1px solid (0,0,0,0.8);
  width: 100%;
}

#searchbar{
   margin-left: 0%;
   padding:15px;
   border-bottom-left-radius: 20px; 
   border-top-left-radius: 20px;
   height: 70px;
  border-bottom-right-radius: 0px; 
  border-top-right-radius: 0px;
 }

#search-btn {
  height: 70px;
  width: 100%;
  border-bottom-right-radius: 20px; 
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #7CAA9E
}
 
input[type=text] {
  width: 100%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  
}

input[type=text]:focus {
    outline: none !important;
    border:2px solid #7CAA9E;
  }
 
#list{
  padding: 0px;
 }

.give-shadow {
  box-shadow: 0px 4px 10px 0px #888888;
}

main {
  margin-left: 1rem; 
  margin-right: 1rem; 
  margin-top: 3rem
}

#install-btn {
  background-color: #7CAA9E;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  float:left;
  
}

#install-bar {
  background-color: #CCDDDA;
  height: 65px;
  visibility: hidden;
}

#install-close-button {
  float:right;
  margin: 10px;
  background-color: rgba(0,0,0,0);
  color: black;
  padding: 0;
  width: auto;
  height: auto;
}

#content {
    width: 60%;
    margin: auto;
  }

@media (max-width: 800px) {
  #content {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 450px) {
  #content {
    width: 100%;
    margin: auto;
  }

  .hide-when-small {
    visibility: hidden;
    height:0;
  }
}